/* for confession */
/*declare font*/
@font-face { font-family: Minecraft; src: url('MinecraftRegular-Bmg3.otf'); } 
@font-face { font-family: Minecraft; font-weight: bold; src: url('MinecraftBold-nMK1.otf');}  


html{
    background-color: #F4F8D3;
    background-image: url(bgPink.gif);
    opacity: 0;
    animation: fadeIn 0.7s forwards;
   
}

@keyframes fadeIn {
    to {
     opacity: 1;
    }
}

h2{
    font-family: Minecraft;
    text-align: center;
    color: #9b83d3;


}
p{
    font-family: Minecraft;
    text-align: justify;
    margin: 30px;
    color: #9b83d3;
    
}
